{% extends "base.html" %}

{% block content %}
<div class="card">
    <h1><i class="fas fa-history"></i> Prediction History</h1>
    <table>
        <tr>
            <th>Time</th>
            <th>Text Snippet</th>
            <th>Result</th>
            <th>Confidence</th>
        </tr>
        {% for item in history %}
        <tr>
            <td>{{ item.time }}</td>
            <td>{{ item.text[:50] }}...</td>
            <td>{{ item.predicted_label }}</td>
            <td>{{ "%.2f"|format(item.prob * 100) }}%</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}